* {
    padding: 0;
    margin: 0;
}

#mainpage {
    
    display: flex;
    justify-content: center;
    align-content: center;
}
.textimg{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

#mainpage img {
    margin-top: 15vh;
    width: 30%;
    height: 15%;
    animation: wobble 0.2s infinite both alternate;
}

#welcomepage {
    visibility: collapse;
    height: 20px;
}

.head {
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

#emoji {
    font-size: 30px;
}

body {
    background-color: black;
    background-image: url(images/desktopconfwtti.webp);
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

#main {
    padding: 30px;
    border-radius: 10px;
}

#main tr th,
td {
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
}

#main th {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    text-align: center;
}

#main td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
}

#btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

#btn button {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-top: 20px;
    color: #fff;
    text-align: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
}

.textcontent {
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-top: 5vh;
    text-align: center;
}


@keyframes wobble {
    from {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(10deg);
    }
}




/* styling for rotating cube */
#wrapper{
    visibility: hidden;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    .cube-wrap {
    width: 400px;
    height: 400px;
    perspective: 2000px;
    perspective-origin: 50% -500px;
    }
    .single-box {
    background-size: cover;
    display: block;
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #60c2ef;
    transform: rotateY(45deg) translateZ(-200px) rotateX(15deg);
    transform-origin: 50% 50% 0;
    border: 3px solid #fff;
    }
    .box {
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
    }
    .side-front { 
    transform: translateZ(180px);
    background-color: transparent;
    }
    .side-back { 
    background-color: transparent;
    transform: rotateY(180deg) translateZ(180px);
    }
    .side-top {
    border: 0px;
    background-color: transparent;
    transform: rotateX(90deg) translateZ(180px);
    }
    .side-bottom { 
    border: 0px;
    transform: rotateX(-90deg) translateZ(180px); 
    background-color: transparent;
    }
    .side-left { 
    background-color: transparent;
    transform: rotateY(-90deg) translateZ(180px); 
    }
    .side-right { 
    background-color: transparent;
    transform: rotateY(90deg) translateZ(180px); 
    }
     
    @keyframes rotate {
    0% { transform: rotateY(0); }
         
    100% { transform: rotateY(360deg); }
    }
.side-front{
    border-radius: 5px;
    background-image: url("https://res.cloudinary.com/dlj5s1kn2/image/upload/v1670937482/main1-removebg-preview_isoses.png");
    background-size: cover;
}
.side-back{
    border-radius: 5px;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/dlj5s1kn2/image/upload/v1670937489/main2-removebg_cnpblv.png");
    
}
.side-left{
    background-image: url("https://res.cloudinary.com/dlj5s1kn2/image/upload/v1670937476/main3-removebg-preview_lodbkk.png");
    border-radius: 5px;
    background-size: cover;

}
.side-right{
    border-radius: 5px;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/dlj5s1kn2/image/upload/v1670937491/main4-removebg-preview_wua3mq.png");

}




.single-box {
    width: 250px;
    height: 250px;
    }




    /* styling for surprisetext */
    .surprise{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .surprise a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        border: 2px solid white;
        border-radius: 10px;
        padding: 4px;
        animation: zoomanime 0.5s infinite both alternate;

   }
    .surprise a:hover{
        border: 2px solid blue;
        color: blue;
    }


@keyframes zoomanime{
    from{
        padding: 6px;
    }
    to{
        padding: 10px;
    }
}



@media only screen and (max-width: 500px) {

    .textimg{
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-top: 20px;
        font-size: 15px;
    }
    .head {
        display: flex;
        justify-content: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        margin-top: 20%;
        text-align: center;
    }

    #main {

        margin-top: 5%;
        padding: 30px;
        border-radius: 10px;
    }

    #main th {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
        text-align: center;
    }

    #main td {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 18px;
        text-align: center;
    }

    .textcontent {
        display: flex;
        justify-content: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        margin-top: 40%;
        text-align: center;
    }

    #btn button {

        font-size: 20px;
        padding: 0px 20px;
        background-color: transparent;

    }
    
#welcomepage {
    visibility: collapse;
    height: 20px;
}

    /* styling for cube */
    #wrapper{
        visibility: collapse;
    }
    .single-box {
        width: 250px;
        height: 250px;
        }
}
